<nav class="bg-cyan-900 border-b-2">
    <div class="p-1 flex justify-between items-center">
        <div>
            <a class="text-white">Logo here</a>
        </div>
        <div>
           <!-- <a class="text-cyan-300 px-3 py-2 text-sm font-medium rounded-3xl hover:bg-cyan-700 hover:text-white">Home</a> -->
            <input class="bg-white w-100 h-9 rounded-4xl border-gray-300" type="text" placeholder=" search communities ">
        </div>


        <div class="flex justify-between items-center">
            <div>
                <a class="text-cyan-300 px-3 py-2 font-medium text-sm rounded-3xl hover:bg-cyan-700 hover:text-white" routerLink="/auth/login">Login</a>
            </div>
            <div>
                <a class="px-3 py-2 text-cyan-300 rounded-3xl text-sm font-medium hover:bg-cyan-700 hover:text-white" routerLink="/auth/register">Register</a>
            </div>
            <button class="rounded-full mx-2 pt-2 pb-2">
                <img class="rounded-full size-10" src="https://elcomercio.pe/resizer/AB93Kg1JoITGLMLkCgLBnVzg_7g=/980x528/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/37OWRM2CLBAE7BP5SXKLVMNHZE.jpg">
            </button>
        </div>
    </div>

</nav>