<div class="flex justify-center">
    <div class="p-6 mt-6  w-90 bg-white rounded shadow-2xl">
        <p class="text-cyan-700 text-3xl pb-3 font-medium">Register</p>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
            <div class="mb-6">
                <label class="font-medium">Username</label>
                <input class="block border shadow rounded font-medium w-full px-3 py-2" type="text" placeholder="Username" formControlName="username"/>
            </div>
            <div class="mb-6">
                <label class="font-medium">Email</label>
                <input class="block border shadow px-3 py-2 font-medium rounded w-full" type="email" placeholder="Email" formControlName="email"/>
            </div>
            <div class="mb-6">
                <label class="font-medium">Password</label>
                <input class="block border shadow px-3 py-2 font-medium rounded w-full" placeholder="***********" type="password" formControlName="password"/>
            </div>
            <div class="mb-6">
                <button class="text-white bg-cyan-700 px-3 py-2 rounded-3xl border-2 hover:bg-white hover:text-cyan-700 cursor-pointer" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
